.header{
  grid-area: h;
  background-color: rgb(37, 187, 37);
  }
  .header img {
    height: 90%;
  }
  .logo {
    padding: 10;
  }
  .loginBlock{
    float: right;
  }
  .loginBlock a{
    color: wheat;
    text-decoration: none;
    padding:  10px;
  }