.formControl.error input,
.formControl.error textarea{
    border: 2px solid red;
    border-radius: 3px;
}
.formControl.error span{
    border: 2px solid red;
    border-radius: 3px;
}
.formSummaryError{
    border: 2px solid red;
    border-radius: 3px;
    padding: 5px;
}
