.app-wrapper{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  'h h'
  'n c'
   ;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.nav{
 grid-area: n;
 background-color: rgb(37, 187, 37);
}
.header{
grid-area: h;
background-color: rgb(37, 187, 37);
}
.header img {
  width: 60px;
}
.content{
grid-area: c;
background-color: khaki;
}
.content-img{
  height: 300px;
  width: 100%;
}